/node_modules
/public/hot

# storage ディレクトリ全体を除外（src/ 配下に変更）
/src/storage/*

# ただし以下のフォルダ・ファイルは除外対象から除外（= Gitに含める）
!/src/storage/app
!/src/storage/app/public
!/src/storage/app/public/images
!/src/storage/app/public/images/**
!/src/storage/app/public/item_images
!/src/storage/app/public/item_images/**
!/src/storage/app/public/profile_images
!/src/storage/app/public/profile_images/**

# 秘密鍵などは引き続き除外
/src/storage/*.key

/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode