/node_modules
/public/hot

# storage ディレクトリ全体を除外
/storage/*

# ただし以下のフォルダ・ファイルは除外対象から除外（= Gitに含める）
!/storage/app
!/storage/app/public
!/storage/app/public/images
!/storage/app/public/images/**
!/storage/app/public/item_images
!/storage/app/public/item_images/**
!/storage/app/public/profile_images
!/storage/app/public/profile_images/**

# 秘密鍵などは引き続き除外
/storage/*.key

/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode